<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="MissingMedia_Scan" xsi:type="object">Xigen\MissingMedia\Console\Command\Scan</item>
                <item name="MissingMedia_Missing" xsi:type="object">Xigen\MissingMedia\Console\Command\Missing</item>
            </argument>
        </arguments>
    </type>
</config>
